[submodule "node_modules/ref-struct"]
	path = node_modules/ref-struct
	url = git@github.com:Benvie/ref-struct.git
[submodule "node_modules/ref"]
	path = node_modules/ref
	url = git@github.com:Benvie/ref.git
[submodule "node_modules/ffi"]
	path = node_modules/ffi
	url = https://github.com/Benvie/ffi
[submodule "node_modules/winreg"]
	path = node_modules/winreg
	url = git://github.com/Benvie/node-winreg.git
[submodule "node_modules/weak"]
	path = node_modules/weak
	url = git@github.com:Benvie/node-weak.git
[submodule "clang"]
	path = clang
	url = git@github.com:Benvie/node-clang.git
[submodule "node_modules/clang"]
	path = node_modules/clang
	url = git@github.com:Benvie/node-clang.git
